.container{
	width: 1000px;
	height: 650px;
	background-image: url('https://mxg.cdnbf.net/mexchangeblackjack/turbo/assets/gameView/tableBackground.png?v1.26-210');
	background-repeat: no-repeat;
}

.card-deck{
	width: 100px;
	height: 175px;
	display: inline-block;
	margin: 20px;
	vertical-align:top;
	top: 50px;
	left: 50px;
	text-align: center;
}

.card-stack{
	height: 100%;
	width: relative;
	  -webkit-box-shadow: 
        1px 1px   0 rgba(0,   0,   0,   0.100), 
        3px 3px   0 rgba(255, 255, 255, 1.0), 
        4px 4px   0 rgba(0,   0,   0,   0.125), 
        6px 6px   0 rgba(255, 255, 255, 1.0),  
        7px 7px   0 rgba(0,   0,   0,   0.150), 
        9px 9px   0 rgba(255, 255, 255, 1.0),  
        10px 10px 0 rgba(0,   0,   0,   0.175);
  -moz-box-shadow: 
        1px 1px   0 rgba(0,   0,   0,   0.100), 
        3px 3px   0 rgba(255, 255, 255, 1.0), 
        4px 4px   0 rgba(0,   0,   0,   0.125), 
        6px 6px   0 rgba(255, 255, 255, 1.0),  
        7px 7px   0 rgba(0,   0,   0,   0.150), 
        9px 9px   0 rgba(255, 255, 255, 1.0),  
        10px 10px 0 rgba(0,   0,   0,   0.175);
  box-shadow: 
        1px 1px   0 rgba(0,   0,   0,   0.100), 
        3px 3px   0 rgba(255, 255, 255, 1.0), 
        4px 4px   0 rgba(0,   0,   0,   0.125), 
        6px 6px   0 rgba(255, 255, 255, 1.0),  
        7px 7px   0 rgba(0,   0,   0,   0.150), 
        9px 9px   0 rgba(255, 255, 255, 1.0),  
        10px 10px 0 rgba(0,   0,   0,   0.175);
    
}
}

.deal-button{
  color: blue;
  background-color: white;
  width: 150px;
  margin: 10px;
}

.deal-cards{
  color: blue;
  background-color: white;
  width: 150px;	
  margin: 10px;

}

.increase-bet{
  color: blue;
  background-color: white;
  width: 150px;
  margin: 10px;
}

.decrease-bet{
  color: blue;
  background-color: white;
  width: 150px;
  margin: 10px;
}

.hit-button{
  color: blue;
  background-color: white;
  width: 150px;
  margin: 10px;
}

.stay-button{
  color: blue;
  background-color: white;
  width: 150px;
  margin: 10px;
}

.dealer-hand{
	display:inline-block;
	margin:10px;
  position: absolute;
  top: 75px;
  right: 125px;
	height:175px; 

}

.card-cover{
	position: absolute;
	top: 75px;
  right: 100px;
  width: 50px;
	height:175px;
	margin:10px; 
	z-index: 50;

}

.hide-card{
	display: none;
}

.dealer-cards{
	height: 100%;
	width: relative;
	margin: 2px
}

.player-hand{
	display:inline-block;
	margin:10px;
	position: absolute;
	bottom: 100px;
  right: 125px;
	height:175px;
}

.player-cards{
	height: 100%;
	width: relative;
	margin: 2px
}

.bank {
	color: white;
	margin: 10px;
}

.bet-value{
	color:white;
	margin: 10px;
}

.dealer-score{
	color: white;
	margin: 10px;
	position: absolute;
	top: 200px;
	right: 10px;
}

.player-score{
	color: white;
	margin: 10px;
	position: absolute;
	bottom: 200px;
	right: 10px;
}

.modal{
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
}

#close{
	float: right;
	top: 0;
	}

.modal-content {
  position: relative;
  margin: 0 30%;
  background-color: white;
  top: 150px;
  width: 40%;
}

.modal-header {
  position: absolute;
  background-color: white;
  width: 100%;
}
 .hidden{
 	display: none;
 }










